<table *ngIf="products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Data Add</th>
      <th>image</th>
      <th>Car</th>
      <th>Model</th>
      <th>Engine Capacity</th>
      <th>Car Mileage</th>
      <th>Year</th>
      <th>Code</th>
      <th>Typr Car</th>
      <th>Price</th>
      <th>Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.dataTime }}</td>
      <td>{{ product.imageURL }}</td>
      <td>{{ product.nameAuto }}</td>
      <td>{{ product.model }}</td>
      <td>{{ product.engineCapacity }}</td>
      <td>{{ product.carMileage }}</td>
      <!-- <td>{{ product.year }}</td>
      <td>{{ product.code }}</td>
      <td>{{ product.typeCar }}</td> -->
      <td>{{ product.price }}</td>
      <td>{{ product.discount }}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="!products">No Cars Found</p>

