<div class="add_phone">
    <div>
        <h1>Add New Advertisement</h1>
            <form class="add_phone_form" (ngSubmit)="addAdvertisement">
                <div class="add_phone_form_conteiner">
                    <div class="mb-3">
                        <input class="add_phone_form_conteiner_input" 
                        type="text" id="imageUrl"
                        name="imageURL" [(ngModel)] = "addAdvertisementRequest.imageURL"
                        placeholder="ImageUrl">
                    </div>
                    <div class="mb-3">
                        
                        <input class="add_phone_form_conteiner_input" 
                        type="text" id="text"
                        name="text" [(ngModel)] = "addAdvertisementRequest.text"
                        placeholder="text">
                    </div>
                    <button (click)="addAdvertisement()" type="submit" class="btn btn-primary" [routerLink]="['advertising']">Submit</button>
                </div>
            </form>
        </div>
</div>
