<div>
    <h1>Add New Phone</h1>
    <form  #form = "ngForm" (ngSubmit)="updateProduct()">
        <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" readonly
          name="id" [(ngModel)] = "productDetails.id">
        </div>
        <div class="mb-3">
            <label for="imageUrl" class="form-label">ImageUrl</label>
            <input type="text" class="form-control" id="imageUrl"
          name="imageURL" [(ngModel)] = "productDetails.imageURL">
        </div>
        <div class="mb-3">
            <label for="producer" class="form-label">Producer</label>
            <input type="text" class="form-control" id="nproducer"
            name="producer" [(ngModel)] = "productDetails.producer">
        </div>
        <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input type="text" class="form-control" id="model"
            name="model" [(ngModel)] = "productDetails.model">
        </div>
        <div class="mb-3">
            <label for="diagonal" class="form-label">Diagonal</label>
            <input type="text" class="form-control" id="diagonal"
            name="diagonal" [(ngModel)] = "productDetails.diagonal">
        </div>
        <div class="mb-3">
            <label for="camera" class="form-label">Camera</label>
            <input type="text" class="form-control" id="camera"
            name="camera" [(ngModel)] = "productDetails.camera">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price"
            name="price" [(ngModel)] = "productDetails.price">
        </div>
        <div class="mb-3">
            <label for="discount" class="form-label">Discount</label>
            <input type="text" class="form-control" id="discount"
            name="discount" [(ngModel)] = "productDetails.discount">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <button (click)="deleteProduct(productDetails.id)" type="button" class="btn btn-banger">Delete</button>
      </form>
</div>


