<body class="add_phone">
    <div class="add_phone_input">
        <div>
            <h1>Add New Phone</h1>
            <form  (ngSubmit)="addProduct">
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">ImageUrl</label>
                    <input type="text" class="form-control" id="imageUrl"
                  name="imageURL" [(ngModel)] = "addProductRequest.imageURL">
                </div>
                <div class="mb-3">
                    <label for="producer" class="form-label">Producer</label>
                    <input type="text" class="form-control" id="producer"
                    name="producer" [(ngModel)] = "addProductRequest.producer">
                </div>
                <div class="mb-3">
                    <label for="model" class="form-label">Model</label>
                    <input type="text" class="form-control" id="model"
                    name="model" [(ngModel)] = "addProductRequest.model">
                </div>
                <div class="mb-3">
                    <label for="diagonal" class="form-label">Diagonal</label>
                    <input type="text" class="form-control" id="diagonal"
                    name="diagonal" [(ngModel)] = "addProductRequest.diagonal">
                </div>
                <div class="mb-3">
                    <label for="camera" class="form-label">Camera</label>
                    <input type="text" class="form-control" id="camera"
                    name="camera" [(ngModel)] = "addProductRequest.camera">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price"
                    name="price" [(ngModel)] = "addProductRequest.price">
                </div>
                <div class="mb-3">
                    <label for="discount" class="form-label">Discount</label>
                    <input type="text" class="form-control" id="discount"
                    name="discount" [(ngModel)] = "addProductRequest.discount">
                </div>
                
                <button (click)="addProduct()" type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
    <div class="add_phone_show"></div>
</body>