<router-outlet>
    <div class="yp">
        <div class="yp_header">
            <button routerLink="/dashboard" class="yp_header_logo">
                <p id="text">YuPhone</p>
                <p id="shadow">
                    <span span id="glow">Yu</span><span id="blink">Phone</span>
                </p>
            </button>
            <div class="yp_header_btn">
                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user-circle yp_header_btn_icon" aria-hidden="true"></i>
                    <ul class="dropdown-menu yp_header_btn_dropdown-menu">
                        <li><a class="" href="#">Clients</a></li>
                        <li><a class="" routerLink="Product">Products</a></li>
                        <li><a class="" routerLink="advertisement">Advertisement</a></li>
                        <li><a href="" routerLink="order">Order</a></li>
                      </ul>
                    </a>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user yp_header_btn_icon" aria-hidden="true">
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                </i></a>
                <a><i class="fa fa-heart yp_header_btn_icon" aria-hidden="true"></i></a>
                <a role="button" routerLink="cart" class="yp_header_btn_icon">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <div class="yp_header_btn_icon_label">{{totalItem}}</div>
                </a>
                

                <button class="yp_header_btn_login" routerLink="login">Login/Register</button> 
                <!-- routerLink="login" -->
            </div>
        </div>
    </div>
    <ng-container *ngFor="let advertisement of advertisements">
        
    </ng-container>
</router-outlet>