<div class="yp_register">
    <div>
        <form class="yp_register_form" [formGroup]="registerForm" action="">
            <div class="yp_register_form_input">
                <input formControlName="userName" type="text" placeholder="User Name">
            </div>
            <div class="yp_register_form_required">
                <small *ngIf="registerForm.controls['userName'].dirty && registerForm.hasError('required','userName')">User name is required</small>
            </div>
            <div class="yp_register_form_input">
                <input formControlName="email" type="text" placeholder="Email">
            </div>
            <div class="yp_register_form_required">
                <small *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')">Email is required</small>
            </div>
            <div class="yp_register_form_input">
                <input formControlName="password" type="text" placeholder="Password">
            </div>
            <div class="yp_register_form_required">
                <small *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')">Password is required</small>
            </div>
            <div class="yp_register_form_input">
                <input formControlName="confirmPassword" type="text" placeholder="Confirm Password">
            </div>
            <div class="yp_register_form_required">
                <small *ngIf="registerForm.controls['confirmPassword'].dirty && registerForm.hasError('required','confirmPassword')">Confirm Password is required</small>
            </div>
            <div class="yp_register_button">
                <button class="yp_register_button_register" type="submit" (click)="onRegister()">Register</button>
            </div>
            <div class="yp_login_register_text">Arleady have account ?<a href="" id="login" routerLink="/login">Login</a></div>
        </form>
    </div>
</div>